# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.cache
*.dbmdl
*.dbproj.schemaview

# IIS Express
iisexpress/
*.vspscc

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Publish
publish/
